* {
  margin: 0;
  padding: 0px;
  text-decoration: none;
}
.container {
  display: flex;
  padding: 20px 0px 20px 20px;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #000;
  border-radius: 35px;
  margin: 0px 20px;
  color: #fff;
  height: 95vh;
  width: 200px;
  transition: font-size 1s;
  font-weight: 400;
}
.bottom_section {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  padding: 20px 00px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 40px;
}
.link {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  color: #fff;
  padding: 10px 35px 5px 35px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: white;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: white;

  color: #000;
}
.icon {
  font-size: 21px;
}
